<svg ng-attr-width="{{ size }}" ng-attr-height="{{ size }}">
  <g>
    <g
      ng-attr-stroke="{{ colors[$index] }}"
      ng-attr-fill="{{ colors[$index] }}"
      ng-repeat="sector in sectors">
      <path
        ng-attr-d="
        M {{ sector[0][0] }} {{ sector[0][1] }}
        L {{ sector[1][0] }} {{ sector[1][1] }}
        A {{ radius }} {{ radius }} 0 {{ angles[$index] >= 180 ? 1 : 0 }} 1 {{ sector[2][0] }} {{ sector[2][1] }}
        L {{ sector[0][0] }} {{ sector[0][1] }}
        "
      ></path>
    </g>
  </g>
</svg>
{{ angles }}
