<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>title</title>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../dist/abacus.min.js"></script>
  </head>
  <script>
    angular.module('myApp', ['abacus'])

    .controller('TestController', function($scope) {
        $scope.values = [1341, 12, 251, 1531, 1235];
    });
  </script>
  <body ng-controller="TestController">
    <h1>Abacus</h1>

    <abc-pie-chart data="values">
    </abc-pie-chart>

    <div ng-repeat="value in values">
      <input type="number" ng-model="values[$index]"></input>
    </div>
  </body>
</html>
